extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner MineEyes~!
    div.Message
      div.Title
        h3 Time to mine the donuts.
        h1 Enter Rig Name
      span.Details Access Rig Reports
    div.NavButtons
      a(href="/report")
          div.NavButton Go!